    <h1 align="CENTER">Guidelines for Submissions to MICRO 2015</h1>
    

    This document is intended to serve as a sample for submissions
      to the 48th International Symposium on Microarchitecture (MICRO),
      2015. We provide some guidelines that authors should follow when
      submitting papers to the conference. This format is derived from
      the ACM <i>sig-alternate.cls</i> file, and is used with an
      objective of keeping the submission version similar to the camera
      ready version.


      <h2><a name="SECTION00010000000000000000"> Introduction</a> </h2>
      <p> This document provides the formatting instructions for
        submissions to the <a
          href="http://www.microarch.org/micro48/index.html">48th Annual
          IEEE/ACM International Symposium on Microarchitecture, 2015</a>.
        In an effort to respect the efforts of reviewers and in the
        interest of fairness to all prospective authors, we request that
        all submissions to MICRO-48 follow the formatting and submission
        rules detailed below. Submissions that (grossly) violate these
        instructions may not be reviewed, at the discretion of the
        program chair, in order to maintain a review process that is
        fair to all potential authors. </p>
      <p> An example submission (formatted using the MICRO-48 submission
        format) that contains the submission and formatting guidelines
        can be downloaded from here: <a
          href="http://www.microarch.org/micro48/files/files/samplepaper.pdf">Sample


          PDF</a>. The contents of this document are the same as the
        contents of the submission instructions that appear on <a
          href="./submission.html">Submission Page</a> (this webpage),
        where the paper submission site will be linked online shortly. </p>
      <p> All questions regarding paper formatting and submission should
        be directed to the program chair.</p>
      <h3><a name="SECTION00021000000000000000">Format Highlights&nbsp;</a>
      </h3>
      <p>Note that there are some changes from last year.</p>
      <p>&nbsp;&nbsp;&nbsp; • Paper must be submitted in printable PDF
        format.<br>
        &nbsp;&nbsp;&nbsp; • Text must be in a minimum 10pt (not 9pt)
        font.<br>
        &nbsp;&nbsp;&nbsp; • Papers must be at most 11 pages, not
        including references.<br>
        &nbsp;&nbsp;&nbsp; • No page limit for references.<br>
        &nbsp;&nbsp;&nbsp; • References must include <b>complete</b>
        author lists to facilitate the reviewing process (no et al.).<br>
        &nbsp;&nbsp;&nbsp; • Authors may optionally suggest reviewers.<br>
        &nbsp;&nbsp;&nbsp; • Authors of all accepted papers will be
        required to give a lightning presentation (about 90s).<br>
      </p>
      <p> </p>
      <h3><a name="SECTION00021000000000000000">Paper Evaluation
          Objectives&nbsp;</a> </h3>
      <p>The committee will make every effort to judge each submitted
        paper on its own merits. There will be no target acceptance
        rate. We expect to accept a wide range of papers with
        appropriate expectations for evaluation — while papers that
        build on significant past work with strong evaluations are
        valuable, papers that open new areas with less rigorous
        evaluation are equally welcome and especially encouraged. Given
        the wide range of topics covered by MICRO, every effort will be
        made to find expert reviewers, including providing the ability
        for authors’ to suggest additional reviewers.Note that there are
        some changes from last year.<br>
        <br>
      </p>
      <h2><a name="SECTION00010000000000000000">Paper Preparation
          Instructions&nbsp;</a> </h2>
      <p> </p>
      <h3><a name="SECTION00021000000000000000"> Paper Formatting</a> </h3>
      Papers must be submitted in printable PDF format and should
      contain a maximum of <b>11 pages of single-spaced two-column text</b>,
      not including references. You may include any number of pages for
      references, but see below for more instructions. If you are using
      L<small>A</small>T<small>E</small>X&nbsp;to typeset your paper,
      then we <font color="#cc0000">recommend</font> that you use the
      template available here: <a
href="http://www.microarch.org/micro48/files/files/micro48-latex-template.tar.gz">micro48-latex-template.tar.gz</a>.
      (<a
        href="http://www.microarch.org/micro48/files/files/samplepaper.pdf">This


        document</a> was prepared with that template.)
      <meta charset="utf-8">
      <span style="color: rgb(204, 0, 0); font-family: Times; font-size:
        medium; font-style: normal; font-variant: normal; font-weight:
        normal; letter-spacing: normal; line-height: normal; orphans:
        auto; text-align: start; text-indent: 0px; text-transform: none;
        white-space: normal; widows: 1; word-spacing: 0px;
        -webkit-text-stroke-width: 0px; display: inline !important;
        float: none;">Please use the default font that comes with the
        template and avoid changing it to a narrower font (Times, Times
        Narrow etc.).</span><br>
      <br>
      <br>
      If you are using a different software package to typeset your
      paper, then please adhere to the guidelines mentioned in
      Table&nbsp;<a
        href="http://www.microarch.org/micro48/submission.html#table:formatting">1</a>.
      <meta charset="utf-8">
      <span style="color: rgb(204, 0, 0); font-family: Times; font-size:
        medium; font-style: normal; font-variant: normal; font-weight:
        normal; letter-spacing: normal; line-height: normal; orphans:
        auto; text-align: start; text-indent: 0px; text-transform: none;
        white-space: normal; widows: 1; word-spacing: 0px;
        -webkit-text-stroke-width: 0px; display: inline !important;
        float: none;">To ensure consistency across all submissions,
        please use the "Computer Modern" font if it is available with
        your software package (otherwise, please use a font that is
        closest to "Computer Modern").&nbsp; Please avoid squeezing out
        more space by specifically opting for a narrower font.&nbsp; <br>
      </span>
      <div align="CENTER"><a name="28"></a>
        <table>
          <caption><strong>Table 1:</strong> Formatting guidelines for
            submission.</caption> <tbody>
            <tr>
              <td>
                <div align="CENTER">
                  <table border="1" cellpadding="3">
                    <tbody>
                      <tr>
                        <th align="LEFT"><b>Field</b></th>
                        <th align="LEFT"><b>Value</b></th>
                      </tr>
                      <tr>
                        <td align="LEFT">Page limit</td>
                        <td align="LEFT">11 pages <b>not including
                            References</b></td>
                      </tr>
                      <tr>
                        <td align="LEFT">Paper size</td>
                        <td align="LEFT">US Letter 8.5in x 11in</td>
                      </tr>
                      <tr>
                        <td align="LEFT">Top margin</td>
                        <td align="LEFT">1in</td>
                      </tr>
                      <tr>
                        <td align="LEFT">Bottom margin</td>
                        <td align="LEFT">1in</td>
                      </tr>
                      <tr>
                        <td align="LEFT">Left margin</td>
                        <td align="LEFT">0.75in</td>
                      </tr>
                      <tr>
                        <td align="LEFT">Right margin</td>
                        <td align="LEFT">0.75in</td>
                      </tr>
                      <tr>
                        <td valign="top">Body<br>
                        </td>
                        <td valign="top">2-column, single-spaced<br>
                        </td>
                      </tr>
                      <tr>
                        <td align="LEFT">Separation between columns</td>
                        <td align="LEFT">0.25in</td>
                      </tr>
                      <tr>
                        <td align="LEFT">Body font</td>
                        <td align="LEFT"><b>10pt <br>
                          </b></td>
                      </tr>
                      <tr>
                        <td align="LEFT">Abstract font</td>
                        <td align="LEFT">10pt <font color="#cc0000"><b>(regular






                              font)</b></font><br>
                        </td>
                      </tr>
                      <tr>
                        <td align="LEFT">Section heading font</td>
                        <td align="LEFT">12pt, bold</td>
                      </tr>
                      <tr>
                        <td align="LEFT">Subsection heading font</td>
                        <td align="LEFT">10pt, bold</td>
                      </tr>
                      <tr>
                        <td align="LEFT">Caption font</td>
                        <td align="LEFT">9pt (minimum), bold</td>
                      </tr>
                      <tr>
                        <td align="LEFT">References</td>
                        <td align="LEFT">8pt, no page limit, list all
                          authors' names</td>
                      </tr>
                    </tbody>
                  </table>
                  <a name="table:formatting"></a></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p> <b>Please ensure that you include page numbers with your
          submission</b>. This makes it easier for the reviewers to
        refer to different parts of your paper when they provide
        comments.Please ensure that your submission has a banner at the
        top of the title page, similar to <a
          href="http://www.microarch.org/micro48/files/files/samplepaper.pdf">this


          one</a>, which contains the submission number and the notice
        of confidentiality. If using the template, just replace XXX with
        your submission number.</p>
      <p> </p>
      <h3><a name="SECTION00022000000000000000"> Content</a> </h3>
      <strike><b>Author List.</b></strike>&nbsp; Reviewing will be
      double blind; therefore, please do not include any author names on
      any submitted documents except in the space provided on the
      submission form. You must also ensure that the metadata included
      in the PDF does not give away the authors. If you are improving
      upon your prior work, refer to your prior work in the third person
      and include a full citation for the work in the bibliography. For
      example, if you are building on your own prior work in the papers
      [1, 2, 3], you would say something like: "<i>While the authors of
        [1, 2, 3] did X, Y, and Z, this paper additionally does W, and
        is therefore much better.</i>” Do NOT omit or anonymize
      references for blind review. There is one exception to this for
      your own prior work that appeared in IEEE CAL, workshops without
      archived proceedings, etc. as discussed later in this document.<br>
      <p> <b>Figures and Tables.</b> Ensure that the figures and tables
        are legible. Please also ensure that you refer to your figures
        in the main text. Many reviewers print the papers in gray-scale.
        Therefore, if you use colors for your figures, ensure that the
        different colors are highly distinguishable in gray-scale.<br>
      </p>
      <p> <b>References.</b> There is no length limit for references. <b>Each








          reference must explicitly list all authors of the paper.
          Papers not meeting this requirement will be rejected.</b>
        Authors of NSF proposals should be familiar with this
        requirement. Knowing all authors of related work will help find
        the best reviewers. Since there is no length limit for the
        number of pages used for references, there is no need to save
        space here.<br>
        <br>
      </p>
      <h2><a name="SECTION00040000000000000000">Paper Submission
          Instructions</a> </h2>
      <h3><a name="SECTION00041000000000000000">Guidelines for
          Determining Authorship</a> </h3>
      <p> IEEE guidelines dictate that authorship should be based on a <b>substantial








          intellectual contribution</b>. It is assumed that all authors
        have had a significant role in the creation of an article that
        bears their names. In particular, the authorship credit must be
        reserved only for individuals who have met each of the following
        conditions:<br>
      </p>
      <p>1. Made a significant intellectual contribution to the
        theoretical development, system or experimental design,
        prototype development, and/or the analysis and interpretation of
        data associated with the work contained in the article;<br>
      </p>
      <p>2. Contributed to drafting the article or reviewing and/or
        revising it for intellectual content; and<br>
      </p>
      <p>3. Approved the final version of the article as accepted for
        publication, including references. <br>
      </p>
      <p>A detailed description of the IEEE authorship guidelines and
        responsibilities is available <a
href="https://www.ieee.org/publications_standards/publications/rights/Section821.html">here</a>.
        Per these guidelines, it is not acceptable to award <i>honorary
        </i>authorship or <i>gift </i>authorship. Please keep these
        guidelines in mind while determining the author list of your
        paper.<br>
      </p>
      <h3><a name="SECTION00041000000000000000">Declaring Authors</a> </h3>
      <p> Declare all the authors of the paper upfront. Addition/removal
        of authors once the paper is accepted will have to be approved
        by the program chair, since it potentially undermines the goal
        of eliminating conflicts for reviewer assignment.<br>
      </p>
      <h3><a name="SECTION00041000000000000000">Areas and Topics</a> </h3>
      <p> Authors should indicate these areas on the submission form as
        well as specific topics covered by the paper for optimal
        reviewer match. If you are unsure whether your paper falls
        within the scope of MICRO, please check with the program chair –
        MICRO is a broad, multidisciplinary conference and encourages
        new topics.<br>
      </p>
      <p> </p>
      <h3><a name="SECTION00042000000000000000">Conflict
          Responsibilities</a> </h3>
      <p> Authors must register all their conflicts on the paper
        submission site. Conflicts are needed to ensure appropriate
        assignment of reviewers. If a paper is found to have an
        undeclared conflict that causes a problem OR if a paper is found
        to declare false conflicts in order to abuse or “game” the
        review system, the paper may be rejected<br>
      </p>
      <p>We use the NSF conflict of interest (COI) guidelines for
        determining the conflict period for MICRO’15. Please declare a
        conflict of interest&nbsp; with the following people for any
        author of your paper:<br>
      </p>
      <ol>
        <li>Your Ph.D. advisor(s), post-doctoral advisor(s), Ph.D.
          students, and post-doctoral advisees, forever. Ph.D. advisor,
          post-doctoral advisor, and Ph.D. students. <br>
          <br>
        </li>
        <li>Family relations by blood or marriage, or their equivalent,
          forever (if they might be potential reviewers).<br>
          <br>
        </li>
        <li>People with whom you have collaborated in the last FOUR
          years, including<br>
          • co-authors of accepted/rejected/pending papers.<br>
          • co-PIs on accepted/rejected/pending grant proposals.<br>
          • funders (decision-makers) of your research grants, and
          researchers whom you fund.<br>
          <br>
        </li>
        <li>People (including students) who shared your primary
          institution(s) in the last FOUR years. <br>
          <br>
        </li>
        <li>Other relationships, such as close personal friendship, that
          you think might tend to affect your judgment or be seen as
          doing so by a reasonable person familiar with the
          relationship.</li>
      </ol>
      “Service” collaborations such as co-authoring a report for a
      professional organization, serving on a program committee, or
      co-presenting tutorials, do not themselves create a conflict of
      interest. Co-authoring a paper that is a compendium of various
      projects with no true collaboration among the projects does not
      constitute a conflict among the authors of the different projects.<br>
      <br>
      On the other hand, there may be others not covered by the above
      with whom you believe a COI exists, for example, an ongoing
      collaboration which has not yet resulted in the creation of a
      paper or proposal. Please report such COIs; however, you may be
      asked to justify them. Please be reasonable. For example, you
      cannot declare a COI with a reviewer just because that reviewer
      works on topics similar to or related to those in your paper. The
      PC Chair may contact co-authors to explain a COI whose origin is
      unclear. <br>
      <br>
      We hope to draw most reviewers from the PC and the ERC, but others
      from the community may also write reviews. Please declare all your
      conflicts (not just restricted to the PC and ERC). When in doubt,
      contact the program chair.<br>
      <p> </p>
      <h3><a name="SECTION00042000000000000000">Optional Reviewer
          Suggestions&nbsp;</a> </h3>
      <p> Authors may optionally mark (non-conflicted) PC and ERC
        members that they believe could provide expert reviews for their
        submission. If authors believe there is insufficient expertise
        on the PC and ERC for the topic of their paper, they may suggest
        alternate reviewers. The program chair will use the authors’
        input at his discretion. We provide this opportunity for input
        mostly for papers on non-traditional and emerging topics.<br>
      </p>
      <p> </p>
      <h3><a name="SECTION00043000000000000000"> Concurrent Submissions
          and Workshops</a> </h3>
      By submitting a manuscript to MICRO’15, the authors guarantee that
      the manuscript has not been previously published or accepted for
      publication in a substantially similar form in any conference,
      journal, or the archived proceedings of a workshop (e.g., in the
      ACM digital library) – see exceptions below. The authors also
      guarantee that no paper that contains significant overlap with the
      contributions of the submitted paper will be under review for any
      other conference or journal or an archived proceedings of a
      workshop during the MICRO’15 review period. Violation of any of
      these conditions will lead to rejection.<br>
      <br>
      The only exceptions to the above rules are for the authors’ own
      papers in (1) workshops without archived proceedings such as in
      the ACM digital library (or where the authors chose not to have
      their paper appear in the archived proceedings), or (2) venues
      such as IEEE CAL where there is an explicit policy that such
      publication does not preclude longer conference submissions. In
      all such cases, the submitted manuscript may ignore the above work
      to preserve author anonymity. This information must, however, be
      provided on the submission form – the PC chair will make this
      information available to reviewers if it becomes necessary to
      ensure a fair review. As always, if you are in doubt, it is best
      to contact the program chair.<br>
      <p> Finally, we also note that the ACM Plagiarism Policy
        (http://www.acm.org/publications/policies/plagiarism_policy)
        covers a range of ethical issues concerning the
        misrepresentation of other works or one's own work.</p>
      <p> </p>
      <h2><a name="SECTION00050000000000000000">Acknowledgements&nbsp;</a>
      </h2>
      <p>This document is derived from previous conferences, in
        particular MICRO 2013 and ASPLOS 2015. We thank Christos
        Kozyrakis and Sandhya Dwarkadas for their inputs.<br>
        <br>
      </p>
      <p> </p>
      <h2><a name="SECTION00050000000000000000"> Submission Site:
          <meta charset="utf-8">
          <span style="color: rgb(34, 34, 34); font-family: arial,
            sans-serif; font-size: 12.8000001907349px; font-style:
            normal; font-variant: normal; font-weight: normal;
            letter-spacing: normal; line-height: normal; orphans: auto;
            text-align: start; text-indent: 0px; text-transform: none;
            white-space: normal; widows: 1; word-spacing: 0px;
            -webkit-text-stroke-width: 0px; display: inline !important;
            float: none; background-color: rgb(255, 255, 255);"><span
              class="Apple-converted-space">&nbsp;</span></span></a><big><big><a
              href="http://micro2015.gatech.edu/submission/"
              target="_blank" style="color: rgb(17, 85, 204);
              font-family: arial, sans-serif; font-size:
              12.8000001907349px; font-style: normal; font-variant:
              normal; font-weight: normal; letter-spacing: normal;
              line-height: normal; orphans: auto; text-align: start;
              text-indent: 0px; text-transform: none; white-space:
              normal; widows: 1; word-spacing: 0px;
              -webkit-text-stroke-width: 0px; background-color: rgb(255,
              255, 255);">http://micro2015.gatech.edu/<wbr>submission/<br>
              <br>
            </a></big></big></h2>
      <hr size="2" width="100%">
      <h2><font color="#cc0000">Frequently Asked Questions (FAQ):</font></h2>
      <p><b>1.&nbsp; The default ordering of citations is in terms of
          appearance, can I can it to order by last name?</b><br>
        Yes, the default IEEETR ordering is in terms of
        appearance.&nbsp; However, you can choose the ordering per your
        preference.&nbsp; So, if you like the ordering by last name
        better, please feel free to use it.&nbsp; However, in either
        case ensure that each reference explicitly states the names of
        all authors.&nbsp;&nbsp; <br>
        <br>
      </p>
      <p><b>2.&nbsp; I see a lot of white space near the Title, what is
          that for?&nbsp; And, can I remove it?</b><br>
        We are striving to have a submission template that is close to
        the camera ready version.&nbsp; As you may have guessed, this
        space is reserved for author names and affiliation in the camera
        ready version, should the paper get accepted.&nbsp; You can
        remove this space for your submission, however, should the paper
        get accepted you will have to find extra space to accommodate
        the author names and affiliation.<br>
      </p>
      <p><br>
        <b>3.&nbsp; I am using LaTex with the provided template, but
          prefer using Times font. Can I use the Times package?</b><br>
        No.&nbsp; The default font with the provided template derived
        from ACM is Computer Modern (CM).&nbsp; The Times font is about
        10-15% denser compared to the default font, and can give a
        submission almost one extra page of content.&nbsp; In order to
        ensure fairness for all submissions, we are insisting that the
        default font from the template be used instead of the Times
        font.<br>
      </p>
      <p><br>
        <b>4.&nbsp; I am using MS Word, and do not have CM fonts.&nbsp;
          Can I use the default "Times New Roman" font ? </b><br>
        Short answer is No.&nbsp; The Times New Roman font is about 10%
        denser compared to the CM font with the provided LaTex
        template.&nbsp; Therefore, to ensure fairness to authors who
        will use the provided template, we are insisting that authors
        using editors other than LaTex also use a font that is similar
        to the default font from the ACM template.&nbsp;&nbsp;<span
          style="color: rgb(34, 34, 34); font-family: arial, sans-serif;
          font-size: 12.8000001907349px; font-style: normal;
          font-variant: normal; font-weight: normal; letter-spacing:
          normal; line-height: normal; orphans: auto; text-align: start;
          text-indent: 0px; text-transform: none; white-space: normal;
          widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;
          display: inline !important; float: none; background-color:
          rgb(255, 255, 255);"><span class="Apple-converted-space">&nbsp;</span>
        </span><br>
      </p>
      <p><br>
        <b>5.&nbsp; How can I download the CM fonts for MS Word? </b><br>
        Thanks to Nam Sung Kim for the following instructions to
        download CM fonts:&nbsp;&nbsp; You may download CM font set
        (True Type) from
        <meta charset="utf-8">
        <a
href="https://www.ctan.org/tex-archive/fonts/cm/ps-type1/bakoma/ttf/?lang=en"
          target="_blank" style="color: rgb(17, 85, 204); font-family:
          arial, sans-serif; font-size: 12.8000001907349px; font-style:
          normal; font-variant: normal; font-weight: normal;
          letter-spacing: normal; line-height: normal; orphans: auto;
          text-align: start; text-indent: 0px; text-transform: none;
          white-space: normal; widows: 1; word-spacing: 0px;
          -webkit-text-stroke-width: 0px; background-color: rgb(255,
          255, 255);">https://www.ctan.org/tex-<wbr>archive/fonts/cm/ps-type1/<wbr>bakoma/ttf/?lang=en

          <meta charset="utf-8">
        </a></p>
      <p>
        <meta charset="utf-8">
        <span style="color: rgb(34, 34, 34); font-family: arial,
          sans-serif; font-size: 12.8000001907349px; font-style: normal;
          font-variant: normal; font-weight: normal; letter-spacing:
          normal; line-height: normal; orphans: auto; text-align: start;
          text-indent: 0px; text-transform: none; white-space: normal;
          widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;
          display: inline !important; float: none; background-color:
          rgb(255, 255, 255);"></span><span style="color: rgb(34, 34,
          34); font-family: arial, sans-serif; font-size:
          12.8000001907349px; font-style: normal; font-variant: normal;
          font-weight: normal; letter-spacing: normal; line-height:
          normal; orphans: auto; text-align: start; text-indent: 0px;
          text-transform: none; white-space: normal; widows: 1;
          word-spacing: 0px; -webkit-text-stroke-width: 0px; display:
          inline !important; float: none; background-color: rgb(255,
          255, 255);"></span>There are a bunch of font types, select
        cmr10.ttf (Computer Modern Roman).&nbsp; Close all MS Word
        Windows.&nbsp; Download cmrr10.ttf into any temporary directory
        and right click the file name.&nbsp; You will see
        "install".&nbsp; Click it and rerun word.&nbsp;&nbsp;</p>
      <p><br>
        <b>6.&nbsp; I tried but cannot run CM fonts on MS Word. Is there
          any recommendation for a font that is closest to CM fonts, and
          widely available with MS Word?</b><br>
        Try Palatino, which is the closest in terms of both space and
        look-and-feel to the default CM font of the template (thanks to
        Chris Batten for doing the font similarity
        analysis).&nbsp;&nbsp; <br>
      </p>
      <p><br>
        <b>7.&nbsp; I heard you are going to do a word frequency
          analysis on ALL submissions to detect gross format
          violations.&nbsp; If my paper has shorter words, will I be
          penalized?</b><br>
        The aim of the word count script is to simply detect outlier
        papers that have significantly more words that the median
        paper.&nbsp;&nbsp; These are the candidates that will be
        manually checked for gross format violations.&nbsp;&nbsp; Only
        after a manual check confirms that the paper has grossly
        violated formatting guidelines it will be dealt with
        separately.&nbsp;&nbsp; The best way to avoid this trouble is to
        stay within the specified formatting guidelines (default font
        type, default font size, no tweaking the margins etc.), that way
        even if your paper has more words, it will still go through the
        normal process.<br>
      </p>
      <p><br>
        <b>8</b><b>.&nbsp; What's with all-caps words not wrapping
          around properly in columns with this template?<br>
        </b>This is an issue with LaTex, and not with the template (the
        template we provide is from the ACM camera-ready version, and we
        have simply commented out the author names/affiliation
        etc.).&nbsp; The following webpage describes the problem of
        all-caps word-break with LaTex and how to fix it:&nbsp; &nbsp; <a
href="http://tex.stackexchange.com/questions/184447/latex-doesnt-break-lines-with-capitalized-words-to-the-end-properly">http://tex.stackexchange.com/questions/184447/latex-doesnt-break-lines-with-capitalized-words-to-the-end-properly</a><br>
        <br>
      </p>
      <br>
